CustomerSegmentator/CustomerSegmentator/bin/
CustomerSegmentator/CustomerSegmentator/obj/.store/dotnet-aspnet-codegenerator/7.0.11/dotnet-aspnet-codegenerator/7.0.11/tools/net7.0/any/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
CustomerSegmentator/CustomerSegmentator/obj/
