@model CustomerSegmentator.Models.CustomerArrivedEvent

@{
    ViewData["Title"] = "Administrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrator</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Segment" class="control-label"></label>
                <select asp-for="Segment" asp-items="ViewBag.Segments" class="form-control"></select>
                <span asp-validation-for="Segment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarriff" class="control-label"></label>
                <select asp-for="Tarriff" asp-items="ViewBag.Tarrifs" class="form-control"></select>
                <span asp-validation-for="Tarriff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentType" class="control-label"></label>
                <select asp-for="PaymentType" asp-items="ViewBag.PaymentTypes" class="form-control"></select>
                <span asp-validation-for="PaymentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
