@model IEnumerable<CustomerSegmentator.Models.CustomerArrivedEvent>

@{
    ViewData["Title"] = "Director";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Director</h1>

<a href="@Url.Action("DownloadCsv", "CustomerArrivedEvent")" class="btn btn-primary">Download CSV</a>
