@model CustomerSegmentator.Controllers.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CustomerSegmentator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CustomerSegmentator.styles.css" asp-append-version="true"/>
</head>
<body>
<header>

</header>
<div class="container">
    <main role="main" class="pb-3">
     <div class="row mt-5">
         <div class="col-md-4">
             <form asp-action="Login" method="post">
                 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                 <div class="form-group p-3">
                     <input asp-for="Username" class="form-control login-input" placeholder="Username"/>
                     <span asp-validation-for="Username" class="text-danger"></span>
                 </div>
                 <div class="form-group  p-3">
                     <input asp-for="Password" class="form-control login-input" type="password" placeholder="Password" />
                     <span asp-validation-for="Password" class="text-danger"></span>
                 </div>

                 <div class="form-group  p-3">

                     <div class="d-flex justify-content-center">
                         <input type="submit" value="Sign In" class="btn add-button" />
                     </div>
                 </div>
             </form>
         </div>
     </div>
    </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>